{{ define "main" }}
<section id="about">
    {{ .Site.Params.description | $.Page.RenderString }}
</section>

    {{ if .Site.Data.lectures }}
<section id="lectures">
    <h3>{{ .Site.Params.lectures.SectionTitle | default "Lectures" }}</h3>
    <ul class="lecture-list">
        {{ range .Site.Data.lectures.list }}
        <li class="lecture-item">
            <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
        </li>
        {{ end }}
    </ul>
</section>
    {{ end }}

    {{ if .Site.Data.projects }}
<section id="projects">
    <h3>{{ .Site.Params.projects.SectionTitle | default "Projects" }}</h3>
    <ul class="project-list">
        {{ range .Site.Data.projects.list }}
        <li class="project-item">
            <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
        </li>
        {{ end }}
    </ul>
</section>
    {{ end }}
{{ end }}